section {
  width: 100%;
  margin-bottom: 50px;
  margin-top: 50px;
}

/* .new-tweet {
  align-items: center;
  justify-content: center;
} */


/* .counter {
  align-items: flex-end;
  float: right;
  font-family: Bungee;
} */


.alert {
  display:none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background:#FCC5C1;
  border-radius: 15px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 30px;
}

#tweet-text {
  width: 100%;
  background-color: #f4f1ec;
  border: none;
  border-bottom: 3px solid black;
}

#tweetButton {
  font-family: Bungee, sans-serif;
  color: white;
  background-color: #4056A1;
}

.counter {
  /* display: flex;
  align-items: flex-end; */
  float: right;
  font-family: Bungee;
}
