article {
  border-style: solid;
  padding: 2%;
  margin-bottom: 20px;
}

.tweet-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.avatar-name {
  display:flex;
  flex-direction: row;
  align-items: center;
}

.tweet-name {
  padding: 10px;
}

.tweet-handle {
  visibility: hidden;
  opacity: 0.5;
}

.tweet {
  word-wrap: break-word;
}

hr {
  border-top: 3px solid;
}

.tweet-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}

.flag-retweet-like {
  visibility: hidden;
}

article:hover {
  box-shadow: 10px 10px 5px #4b4b4b;
}

article:hover .tweet-handle{
  visibility: visible;
}

article:hover .flag-retweet-like {
  visibility: visible;
}
